<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.mijiaokj.sys.dal.repository.mapper.ControlFileRelationMapper">
	<sql id="BaseColumns">
		file_id,
		control_id
	</sql>

	<sql id="BaseProperties">
		#{fileId},
		#{controlId}
	</sql>

	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.ControlFileRelation">
		<result column="file_id" property="fileId" jdbcType="BIGINT" />
		<result column="control_id" property="controlId" jdbcType="BIGINT" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from control_file_relation
		where id = #{id,jdbcType=BIGINT}
		and
		is_delete = 0
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.ControlFileRelation">
		insert into control_file_relation (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<update id="delete" parameterType="java.lang.Long">
		update control_file_relation
		set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>