<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.ControlPageRelationMapper" >
   <sql id="BaseColumns">
		page_id, 
		control_id
	</sql>

	<sql id="BaseProperties">
		#{pageId},
		#{controlId}
	</sql>
  
  <resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.ControlPageRelation" >
    <result column="page_id" property="pageId" jdbcType="BIGINT" />
    <result column="control_id" property="controlId" jdbcType="BIGINT" />
  </resultMap>
  
  <insert id="insert" parameterType="com.mijiaokj.sys.domain.ControlPageRelation" >
    insert into control_page_relation (
		<include refid="BaseColumns" /> ,
		<include refid="Common.CommonColumns" />
	)
    values (
		<include refid="BaseProperties" /> ,
		<include refid="Common.CommonProperties" />
	)
  </insert>
  
   <update id="delete" parameterType="java.lang.Long">
	update control_page_relation
	set is_delete = 1
	where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>