<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.MenuMapper">
	<sql id="BaseColumns">
		menu_name,
		menu_url,
		menu_icon,
		parent_id,
		menu_order
	</sql>

	<sql id="BaseProperties">
		#{menuName},
		#{menuUrl},
		#{menuIcon},
		#{parentId},
		#{menuOrder}
	</sql>

	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.Menu">
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
		<result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from menu
		where id = #{id,jdbcType=BIGINT}
		and is_delete = 0
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.Menu">
		insert into menu (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<update id="delete" parameterType="java.lang.Long">
		update menu
		set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>