<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.MenuControlRelationMapper" >
	<sql id="BaseColumns">
		menu_id,
		control_id
	</sql>

	<sql id="BaseProperties">
		#{menuId},
		#{controlId}
	</sql>
	
  <resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.MenuControlRelation" >
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
    <result column="control_id" property="controlId" jdbcType="BIGINT" />
  </resultMap>
  
  <insert id="insert" parameterType="com.mijiaokj.sys.domain.MenuControlRelation" >
    insert into MENU_MEHTED_RELATION (
		<include refid="BaseColumns" /> ,
		<include refid="Common.CommonColumns" />
	)
    values (
		<include refid="BaseProperties" /> ,
		<include refid="Common.CommonProperties" />
	)
  </insert>
  
  <update id="delete" parameterType="java.lang.Long">
	update MENU_MEHTED_RELATION
	set is_delete = 1
	where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>