<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.MethedMapper">
	<sql id="BaseColumns">
		methed_code,
		methed_name,
		methed_url
	</sql>

	<sql id="BaseProperties">
		#{methedCode},
		#{methedName},
		#{methedUrl}
	</sql>

	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.Methed">
		<result column="methed_code" property="methedCode" jdbcType="VARCHAR" />
		<result column="methed_name" property="methedName" jdbcType="VARCHAR" />
		<result column="methed_url" property="methedUrl" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from methed
		where id = #{id,jdbcType=BIGINT}
		and is_delete = 0
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.Methed">
		insert into methed (methed_code, methed_name, methed_url
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<update id="delete" parameterType="java.lang.Long">
		update methed
		set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>