<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.RecommenderIncomeMapper">
  <resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.RecommenderIncome">
    <result column="recommender_id" jdbcType="BIGINT" property="recommenderId" />
    <result column="entrant_id" jdbcType="BIGINT" property="entrantId" />
    <result column="fee" jdbcType="VARCHAR" property="fee" />
    <result column="withdrawals_type" jdbcType="INTEGER" property="withdrawalsType" />
    <result column="gmt_withdrawals" jdbcType="TIMESTAMP" property="gmtWithdrawals" />
  </resultMap>
  <!--/*==============================================================*/
  /* Table: RECOMMENDER_INCOME                                    */
  /*==============================================================*/
  create table RECOMMENDER_INCOME
  (
  id                   bigint(20) unsigned not null auto_increment,
  recommender_id       bigint(20) unsigned not null comment '推荐人主键',
  entrant_id       bigint(20) unsigned not null comment '加入人主键',
  fee                  varchar(32) not null comment '推荐收入（元）',
  withdrawals_type      tinyint(1) not null  DEFAULT '0' comment '提现状态 0 默认无提现 1 未提现 2 已提现',
  gmt_withdrawals       datetime  comment '提现时间',
  gmt_create           datetime not null comment '创建时间',
  gmt_modified         datetime not null comment '修改时间',
  creator              varchar(32) not null comment '创建人',
  modifier             varchar(32) not null comment '修改人',
  is_delete            tinyint(1) not null  DEFAULT '0' comment '0-有效 1-删除',
  primary key (id)
  );
  alter table RECOMMENDER_INCOME comment '推荐收入表';-->

  <sql id="BaseColumns">
     recommender_id, entrant_id, fee, withdrawals_type, gmt_withdrawals
  </sql>

  <sql id="BaseProperties">
    #{recommenderId},
    #{entrantId},
    #{fee},
    #{withdrawalsType},
    #{gmtWithdrawals}
  </sql>

  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select *
    from recommender_income
    where id = #{id,jdbcType=BIGINT}
    and is_delete = 0
  </select>

  <insert id="insert" parameterType="com.mijiaokj.sys.domain.RecommenderIncome" useGeneratedKeys="true" keyProperty="id">
    insert into recommender_income (
    <include refid="BaseColumns" /> ,
    <include refid="Common.CommonColumns" />
    ) values (
    <include refid="BaseProperties" /> ,
    <include refid="Common.CommonProperties" />
    )
  </insert>

  <update id="update" parameterType="com.mijiaokj.sys.domain.RecommenderIncome">
    update recommender_income set
    withdrawals_type = #{withdrawalsType,jdbcType=INTEGER},
    gmt_withdrawals = #{gmtWithdrawals,jdbcType=TIMESTAMP},
    <include refid="Common.CommonUpdate" />
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="delete" parameterType="java.lang.Long">
    update recommender_income
    set is_delete = 1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectPageByMap"
          parameterType="com.mijiaokj.sys.dal.repository.query.RecommenderIncomeCriteria"
          resultMap="BaseResultMap">
    select t1.*
    from recommender_income t1 ,(
    select id from recommender_income
    WHERE is_delete=0
    <if test="recommenderId != null">
      and recommender_id = #{recommenderId,jdbcType=BIGINT}
    </if>
    <if test="entrantId != null">
      and entrant_id = #{entrantId,jdbcType=BIGINT}
    </if>
    <if test="entrantId != null">
      and entrant_id = #{entrantId,jdbcType=INTEGER}
    </if>
    <if test="withdrawalsType != null">
      and withdrawals_type = #{withdrawalsType,jdbcType=VARCHAR}
    </if>
    <if test="withdrawalsTimeStart !=null ">
      and gmt_withdrawals &gt;= #{withdrawalsTimeStart}
    </if>
    <if test="withdrawalsTimeEnd !=null ">
      and gmt_withdrawals &lt;= #{withdrawalsTimeEnd}
    </if>
    order by gmt_modified desc
    limit #{startRow,jdbcType=INTEGER} ,
    #{pageSize,jdbcType=INTEGER}
    )t2
    WHERE t1.id=t2.id
  </select>

  <select id="pageCountByMap"
          parameterType="com.mijiaokj.sys.dal.repository.query.RecommenderIncomeCriteria"
          resultType="java.lang.Integer">
    select count(1) as count
    from recommender_income WHERE is_delete=0
    <if test="recommenderId != null">
      and recommender_id = #{recommenderId,jdbcType=BIGINT}
    </if>
    <if test="entrantId != null">
      and entrant_id = #{entrantId,jdbcType=BIGINT}
    </if>
    <if test="entrantId != null">
      and entrant_id = #{entrantId,jdbcType=INTEGER}
    </if>
    <if test="withdrawalsType != null">
      and withdrawals_type = #{withdrawalsType,jdbcType=VARCHAR}
    </if>
    <if test="withdrawalsTimeStart !=null ">
      and gmt_withdrawals &gt;= #{withdrawalsTimeStart}
    </if>
    <if test="withdrawalsTimeEnd !=null ">
      and gmt_withdrawals &lt;= #{withdrawalsTimeEnd}
    </if>
  </select>

</mapper>