<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.ResControlMapper">
	<sql id="BaseColumns">
		control_name,
		control_icon,
		control_url
	</sql>

	<sql id="BaseProperties">
		#{controlName},
		#{controlIcon},
		#{controlUrl}
	</sql>

	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.ResControl">
		<result column="control_name" property="controlName" jdbcType="VARCHAR" />
		<result column="control_icon" property="controlIcon" jdbcType="VARCHAR" />
		<result column="control_url" property="controlUrl" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from RES_CONTROL
		where id = #{id,jdbcType=BIGINT}
		and is_delete = 0
	</select>

	<select id="getAllResControl" resultMap="BaseResultMap">
		select *
		from RES_CONTROL
		where is_delete = 0
	</select>

	<select id="getControlByIds" resultMap="BaseResultMap" parameterType="java.util.Map">
		select *
		from RES_CONTROL
		where id IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.ResControl" useGeneratedKeys="true" keyProperty="id">
		insert into RES_CONTROL (control_code, control_name, control_url
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<update id="delete" parameterType="java.lang.Long">
		update RES_CONTROL
		set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>