<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.RoleControlRelationMapper">
	<sql id="BaseColumns">
		role_id,
		control_id
	</sql>

	<sql id="BaseProperties">
		#{roleId},
		#{controlId}
	</sql>
	
	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.RoleControlRelation">
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="control_id" property="controlId" jdbcType="BIGINT" />
	</resultMap>
	
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from ROLE_CONTROL_RELATION
		where id = #{id,jdbcType=BIGINT}
		and is_delete = 0
	</select>

	<select id="getRoleControlRelationByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from ROLE_CONTROL_RELATION
		where role_id = #{roleId,jdbcType=BIGINT}
		and is_delete = 0
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.RoleControlRelation" useGeneratedKeys="true" keyProperty="id">
		insert into ROLE_CONTROL_RELATION (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<insert id="insertByBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		insert into ROLE_CONTROL_RELATION (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
		</foreach>
	</insert>

	<update id="delete" parameterType="java.lang.Long">
		update ROLE_CONTROL_RELATION
		set is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>