<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.SysInfoMapper">
	<sql id="BaseColumns">
		cn_name,
		en_name,
		secret_key,
		sys_status
	</sql>

	<sql id="BaseProperties">
		#{cnName},
		#{enName},
		#{secretKey},
		#{sysStatus}
	</sql>

	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.SysInfo">
		<result column="cn_name" property="cnName" jdbcType="VARCHAR" />
		<result column="en_name" property="enName" jdbcType="VARCHAR" />
		<result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
		<result column="sys_status" property="sysStatus" jdbcType="BIT" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from sys_info
		where id = #{id,jdbcType=BIGINT}
		and
		is_delete
		= 0
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.SysInfo">
		insert into sys_info (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>
	
	<update id="delete" parameterType="java.lang.Long">
		update sys_info
		set
		is_delete = 1
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>