<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.SysRoleMapper">
	<sql id="BaseColumns">
		role_name,
		role_abstract
	</sql>

	<sql id="BaseProperties">
		#{roleName},
		#{roleAbstract}
	</sql>

	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.SysRole">
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="role_abstract" property="roleAbstract"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from sys_role
		where id = #{id,jdbcType=BIGINT}
		and
		is_delete
		= 0
	</select>
	<select id="getRoleByIds" resultMap="BaseResultMap" parameterType="java.util.Map">
		select *
		from sys_role
		where id IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
		and is_delete = 0
	</select>
	<select id="getAllRole" resultMap="BaseResultMap">
		select *
		from sys_role
		where is_delete
		= 0
	</select>
	<insert id="insert" parameterType="com.mijiaokj.sys.domain.SysRole" useGeneratedKeys="true" keyProperty="id">
		insert into sys_role (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<update id="update" parameterType="com.mijiaokj.sys.domain.SysRole">
		update sys_role set
		role_name = #{roleName,jdbcType=VARCHAR},
		role_abstract = #{roleAbstract,jdbcType=VARCHAR},
		<include refid="Common.CommonUpdate" />
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="delete" parameterType="java.lang.Long">
		update sys_info
		set
		is_delete =
		1
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>