<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mijiaokj.sys.dal.repository.mapper.UserSysRelationMapper">
	<sql id="BaseColumns">
		user_id,
		sys_id
	</sql>

	<sql id="BaseProperties">
		#{userId},
		#{sysId}
	</sql>
	
	<resultMap id="BaseResultMap" type="com.mijiaokj.sys.domain.UserSysRelation">
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="sys_id" property="sysId" jdbcType="BIGINT" />
	</resultMap>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select *
		from user_sys_relation
		where id = #{id,jdbcType=BIGINT}
		and
		is_delete
		= 0
	</select>

	<insert id="insert" parameterType="com.mijiaokj.sys.domain.UserSysRelation">
		insert into user_sys_relation (
		<include refid="BaseColumns" />
		,
		<include refid="Common.CommonColumns" />
		)
		values (
		<include refid="BaseProperties" />
		,
		<include refid="Common.CommonProperties" />
		)
	</insert>

	<update id="delete" parameterType="java.lang.Long">
		update user_sys_relation
		set
		is_delete =
		1
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>