<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="SysUser" type="com.mijiaokj.sys.domain.SysUser" />
		<typeAlias alias="ControlFileRelation" type="com.mijiaokj.sys.domain.ControlFileRelation" />
		<typeAlias alias="ControlMehtedRelation" type="com.mijiaokj.sys.domain.ControlMehtedRelation" />
		<typeAlias alias="ControlMenuRelation" type="com.mijiaokj.sys.domain.ControlMenuRelation" />
		<typeAlias alias="ControlPageRelation" type="com.mijiaokj.sys.domain.ControlPageRelation" />
		<typeAlias alias="File" type="com.mijiaokj.sys.domain.File" />
		<typeAlias alias="ResMenu" type="com.mijiaokj.sys.domain.ResMenu" />
		<typeAlias alias="Methed" type="com.mijiaokj.sys.domain.Methed" />
		<typeAlias alias="Page" type="com.mijiaokj.sys.domain.Page" />
		<typeAlias alias="SysControl" type="com.mijiaokj.sys.domain.SysControl" />
		<typeAlias alias="SysControlRelation" type="com.mijiaokj.sys.domain.SysControlRelation" />
		<typeAlias alias="SysInfo" type="com.mijiaokj.sys.domain.SysInfo" />
		<typeAlias alias="SysRole" type="com.mijiaokj.sys.domain.SysRole" />
		<typeAlias alias="SysRoleRelation" type="com.mijiaokj.sys.domain.SysRoleRelation" />
		<typeAlias alias="SysUserRole" type="com.mijiaokj.sys.domain.SysUserRole" />
		<typeAlias alias="UserSysRelation" type="com.mijiaokj.sys.domain.UserSysRelation" />
	</typeAliases>
	
</configuration>
