<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="SysUser" type="com.mijiaokj.sys.domain.SysUser" />
		<typeAlias alias="ControlFileRelation" type="com.mijiaokj.sys.domain.ControlFileRelation" />
		<typeAlias alias="MenuControlRelation" type="com.mijiaokj.sys.domain.MenuControlRelation" />
		<typeAlias alias="RoleMenuRelation" type="com.mijiaokj.sys.domain.RoleMenuRelation" />
		<typeAlias alias="RoleControlRelation" type="com.mijiaokj.sys.domain.RoleControlRelation" />
		<typeAlias alias="SysFile" type="com.mijiaokj.sys.domain.SysFile" />
		<typeAlias alias="ResMenu" type="com.mijiaokj.sys.domain.SysMenu" />
		<typeAlias alias="ResControl" type="com.mijiaokj.sys.domain.ResControl" />
		<typeAlias alias="SysInfo" type="com.mijiaokj.sys.domain.SysInfo" />
		<typeAlias alias="SysRole" type="com.mijiaokj.sys.domain.SysRole" />
		<typeAlias alias="SysRoleRelation" type="com.mijiaokj.sys.domain.SysRoleRelation" />
		<typeAlias alias="UserRoleRelation" type="com.mijiaokj.sys.domain.UserRoleRelation" />
		<typeAlias alias="UserSysRelation" type="com.mijiaokj.sys.domain.UserSysRelation" />

		<typeAlias alias="MemberType" type="com.mijiaokj.sys.domain.MemberType" />
		<typeAlias alias="MemberUser" type="com.mijiaokj.sys.domain.MemberUser" />
		<typeAlias alias="RecommenderIncome" type="com.mijiaokj.sys.domain.RecommenderIncome" />

	</typeAliases>
	
</configuration>
